/notebooks/
/artifacts/radiomics/concatenated_data/features_all_full.csv
/artifacts/radiomics/concatenated_data/features_all_gland.csv
/artifacts/deep_learning/gland/models/
/results/radiomics/most_discriminant/z_gland_reducción
/results/radiomics/most_discriminant/z_old_k=10